<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>归档</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="css/me.css">
</head>

<body>
<!-- 导航 -->
<div id="header"></div>

<!-- 中间部分 -->
<div class="m-container-small m-padded-tb-big" id="app">
    <div class="ui container">
        <!-- header -->
        <div class="ui top attached padded segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">归档</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin"><span v-text="blogCount">0</span></h2> 篇
                </div>
            </div>
        </div>

        <!-- 博客标题列表 -->
        <div class="ui header" v-for="(dateBlog,index) in dateBlogList" :key="index">
            <h2 class="ui center aligned header"><span v-text="dateBlog.date">2020</span></h2>
            <div class="ui fluid vertical menu">
                <a :href="'detail.html?id=' + blog.id" target="_blank" class="item"
                   v-for="(blog, i) in dateBlog.blogList">
                    <span>
                        <i class="teal circle icon"></i> 《<span v-text="blog.title">Hello, Blog!</span>》
                        <div class="ui olive basic left pointing label m-padded-mini m-text-thin">
                            <span v-text="blog.createTime.substr(5, 5)">
                                5/17
                            </span>
                        </div>
                    </span>
                    <div class="ui basic left pointing label m-padded-mini m-text-thin"
                         :class="[{orange : blog.flag === '转载'}, {teal : blog.flag === '原创'}, {violet : blog.flag === '翻译'}]">
                        <span v-text="blog.flag">原创</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- 底部 -->
<div id="footer"></div>

<script src="lib/jquery/jquery-3.3.1.js"></script>
<script src="lib/semantic-ui/semantic.min.js"></script>
<script src="js/front-include.js"></script>
<script src="js/vuejs-2.5.16.js"></script>
<script src="js/axios-0.18.0.js"></script>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
            dateBlogList: [
                {date: "2020", blogList: []}
            ],
            blogCount: 0
        },
        created() {
            this.dateBlogList.forEach(dateBlog => {
                axios.get("blogs/date/" + dateBlog.date).then(({data}) => {
                    dateBlog.blogList = data;
                    this.blogCount += dateBlog.blogList.length;
                }).catch();
            });
        }
    })
</script>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>

</html>