<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>图片管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../css/me.css">
</head>


<body>
<div id="app">
    <!-- 引入导航 -->
    <header id="header"></header>
    <!--二级导航-->
    <div class="ui attached pointing menu">
        <div class="ui container">
            <div class="right menu">
                <a href="image-manage.html" class="item grey active">图片管理</a>
                <a href="image-upload.html" class="item">上传图片</a>
            </div>
        </div>
    </div>

    <!-- 中间部分 -->
    <div class="m-container-small m-padded-tb-big">
        <div class="ui container">
            <!-- 表格 -->
            <table class="ui celled center aligned table">
                <thead>
                <tr>
                    <th>编号</th>
                    <th>描述</th>
                    <th>链接</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(image, index) in images" :key="index">
                    <td v-text="(page - 1) * 5 + index + 1">1</td>
                    <td v-text="image.description == null ? '...' : (image.description.length > 8 ?
                        image.description.substring(0,8) + '...' : image.description)">
                        loading...
                    </td>
                    <td v-text="image.link">loading...</td>
                    <td>
                        <a @click="findById(image.id)" class="ui mini teal basic button">编辑</a>
                        <a @click="delById(image.id)" class="ui mini red basic button">删除</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="4">
                        <div class="ui mini left floated pagination menu">
                            <a class="icon item" :class="{disabled : page === 1}" @click="prev()">
                                <i class="left chevron icon"></i>
                            </a>
                            <a class="item" v-for="currPage in Math.min(5, totalPage)"
                               :class="{active : index(currPage) === page}" @click="page = index(currPage)"
                               v-text="index(currPage)">1
                            </a>
                            <a class="icon item" :class="{disabled : page === totalPage}" @click="next()">
                                <i class="right chevron icon"></i>
                            </a>
                        </div>
                        <a href="image-upload.html" class="ui mini right floated teal basic button">上传</a>
                    </th>
                </tr>
                <!-- 加载器 -->
                <tr v-show="images.length === 0">
                    <th colspan="4">
                        <div class="ui active centered inline loader"></div>
                    </th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <!--模态框-->
    <div class="ui modal">
        <i class="close icon"></i>
        <div class="header">
            修改图片描述
        </div>
        <div class="ui container content">
            <form class="ui form">
                <!-- 图片描述输入框 -->
                <div class="field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">图片描述</label>
                        <input type="text" placeholder="标签名称" v-model="image.description">
                    </div>
                </div>

                <!-- 表单校验不通过的信息 -->
                <div class="ui negative message" :class="{hidden : msg.length === 0}" v-text="msg">
                </div>

                <!-- 返回、保存、发布按钮 -->
                <div class="ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">返回列表</button>
                    <button type="button" class="ui teal button" @click="update()">提交更改</button>
                </div>
            </form>
        </div>
    </div>

    <br>
    <br>
    <br>

    <!-- 底部 -->
    <footer class="ui inverted vertical segment">
        <div class="ui center aligned container">
            <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 Colin Designed by Colin.</p>
            <p class="m-text-thin m-text-spaced m-opacity-tiny">备案号 xxxxxx</p>
        </div>
    </footer>
</div>


<script src="../lib/jquery/jquery-3.3.1.js"></script>
<script src="../lib/semantic-ui/semantic.min.js"></script>
<script src="../js/vuejs-2.5.16.js"></script>
<script src="../js/axios-0.18.0.js"></script>
<script src="../js/manage-include.js"></script>

<script>
    const vm = new Vue({
        el: "#app",
        data: {
            page: 1,
            totalPage: 1,   // 总页码数
            total: 0,       // 总记录数
            images: [],
            image: {},
            msg: ""
        },
        created() {
            axios.get("/images/page", {
                params: {
                    page: this.page
                }
            }).then(({data}) => {
                this.images = data.items;
                this.totalPage = data.totalPage;
                this.total = data.total;
            }).catch()
        },
        watch: {
            page: {
                handler(newVal, oldVal) {
                    if (!oldVal) {
                        return;
                    }
                    axios.get("/images/page", {
                        params: {
                            page: this.page
                        }
                    }).then(({data}) => {
                        this.images = data.items;
                    }).catch();
                }
            }
        },
        methods: {
            prev() {
                if (this.page > 1) {
                    this.page -= 1;
                }
            },
            next() {
                if (this.page < this.totalPage) {
                    this.page += 1;
                }
            },
            index(i) {
                if (this.totalPage <= 5 || this.page <= 3) { //前五页
                    return i;
                } else if (this.page > this.totalPage - 3) { //后五页
                    return this.totalPage - 5 + i;
                } else { //中间的页码
                    return this.page - 3 + i;
                }
            },
            findById(id) {
                axios.get("/images/" + id).then(({data}) => {
                    this.image = data;
                    $('.ui.modal').modal("show");
                }).catch();
            },
            update() {
                axios.put("/admin/images", this.image).then(() => {
                    location.href = "image-manage.html";
                }).catch(() => {
                    this.msg = "操作失败！"
                });
            },
            delById(id) {
                if (confirm("您确定要删除此图片吗？")) {
                    axios.delete("/admin/images/" + id).then(() => {
                        location.href = "image-manage.html";
                    }).catch();
                }
            }
        }
    })
</script>

</body>

</html>